.about_icon i {
    color: var(--secondary);
  }
  
  .about_img {
    padding: 10px;
    background: var(--card-01);
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .about_img img {
    width: 100% !important;
    border-radius: 5px;
  }
  
  .about_img_box {
    width: 200px !important;
  }
  
  @media only screen and (max-width: 992px) {
    .about_img_gallery {
      justify-content: center !important;
      margin-top: 50px;
    }
  
    .about_content h3 {
      font-size: 1.3rem;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .about_img_box {
      width: 150px !important;
    }
  }