.banner{
    padding-top: 60px !important;
}
.banner_content h5{
    color: var(--text-color);
    font-weight: 400;

}
.banner_img{
    position: relative;
    z-index: 9;
}

.banner_img img{
    border-radius: 50px 5px 5px 5px ;
}
.banner_skills{
    text-align: left;
    width: 130px;
    padding: 10px 20px;
    position: absolute;
    top: 50%;
    left: 9%;
    transform: translateY(-50%);
    border-radius: 5px;
    background: var(--text-color)26;
    z-index: 10;
}

.banner_skills h6{
    background: transparent;
    color: #fff;
}

.banner_skills span i{
    color: var(--secondary);
    background: transparent;
}
.banner_skills span{
    background: transparent;
}
.banner_experience{
    width: 150px;
    position: absolute;
    bottom: -10%;
    right: 5%;
    padding: 10px 20px;
    border-radius: 5px;
    background: var(--text-color)26;
    z-index: 10;
}
.banner_experience span , .banner_experience h5 , .banner_experience h6{
     background: transparent !important;
}
.banner_experience h6{
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 0.8rem;
}

.banner_experience span i {
    padding: 5px;
    color: var(--secondary);
    background: var(--text-color);
    border-radius: 5px;
}



/* Responsive banner */

@media only screen and (max-width: 992px) {
    .banner_content h2 {
      font-size: 1.5rem !important;
    }
  
    .banner_content h5 {
      font-size: 1.1rem !important;
    }
  
    .banner_img img {
      width: 250px !important;
      height: 250px !important;
    }
  
    .banner_content {
      padding-top: 0;
    }
  
    .banner_skills {
      padding: 10px;
      width: 90px;
      left: 5%;
    }
  
    .banner_skills h6,
    .banner_skills span i {
      font-size: 0.7rem;
      margin-bottom: 0;
    }
  
    .banner_experience {
      padding: 10px;
      width: 115px;
    }
  
    .banner_experience h6 {
      font-size: 0.7rem;
    }
  
    .banner_experience h5 {
      font-size: 0.9rem;
    }
    .banner_experience span i {
      font-size: 0.8rem;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .banner_img {
      text-align: center !important;
      margin-top: 50px;
    }
  
    .banner_skills {
      left: 15%;
    }
  
    .banner_experience {
      right: 20%;
    }
  }
  
  @media only screen and (max-width: 576px) {
    .banner_skills {
      display: none;
    }
    .banner_experience {
      display: none !important;
    }
  }
  