
.nav_menu{
    display: flex;
    align-items: center;
    column-gap: 2.8rem;
    margin-bottom: 20px;
}
.nav_menu a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    font-style: 1rem;   
    transition: 0.3s;
    cursor: pointer;
}
.nav_menu a:hover{
    color: var(--secondary);
}
.nav_menu a:first-child{
    color: var(--secondary);
}
.footer_created{
    text-align: right;
    color: #ebd4d4;
    font-weight: 400;
}

.footer_copyright{
    border-top: 1px solid var(--text-color)49;
}
.footer_copyright p{
    font-style: 0.8rem;
    text-align: center;
    margin-top: 15px;
}