.form_group input,
.form_group textarea {
  width: 100%;
  border: none;
  outline: none;
  background: var(--card-01);
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form_group input::placeholder,
.form_group textarea::placeholder {
  font-size: 0.8rem;
  color: var(--text-color);
}

.form button {
  color: var(--secondary);
}
