@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap');
@import url('./variables.css');


html , body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
}

a{
  color: unset;
  text-decoration: none;
}

*{
  box-sizing: border-box;
  background: var(--primary);
}

p{
  color: var(--text-color);
  line-height: 30px;
}

h1,h2,h3,h4,h5,h6{
  color: #fff;
}
h2{
  font-size: 2.5rem !important;
}
section{
  padding-top: 150px;
}

footer{
  padding-bottom: 20px;
  padding-top: 60px;
  border-top: 1px solid var(--card-01);
}

.primary_btn{
  background: var(--card-01) !important;
  padding: 7px 20px !important;
  border: 1px solid var(--secondary) !important;
  border-radius: 5px;
}

.primary_btn a{
  text-decoration: none;
  color: var(--secondary);
  background: transparent !important ;
}

.secondary_btn {
  background: transparent !important;
  border: none;
  outline: none;
  padding: 7px 25px;
}
.secondary_btn a{
  color: var(--secondary);
}
.primary_btn a:hover ,.secondary_btn a:hover{
  color: var(--secondary);
}


::-webkit-scrollbar {
  width: 10px;
  background: var(--text-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background: var(--card-01);
}


/* Responsive  */
@media only screen and (max-width: 992px) {
  p {
    font-size: 0.9rem !important;
  }

  .primary_btn a,
  .secondary_btn a {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 768px) {
  section {
    padding-top: 110px;
  }

  footer {
    padding-top: 0;
    border: none;
  }
}
