@import 'variables';

.tab_btn_active {
	color: $secondary !important;
}
@media only screen and (max-width: 768px) {
	.tab_btns {
		text-align: left !important;
		margin-top: -20px !important;
		margin-bottom: 30px;
	}
}
